body {
  padding: 0;
  margin: 0;
}

.head {
  height: 30vh;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #363636;
  padding-left: 10%;
}

.text-404 {
  font-family: "Roboto Condensed", sans-serif;
  color: #3c0d6c;
  padding-right: 6% !important;
  font-size: 3em;
}

.illustration {
  height: 70vh;
  background: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.kids {
  height: 70vh;
}
